{% extends "base.html" %}
{% block title %}Consultation{% endblock %}

{% block content %}

<section class="consult">

<a href="/dashboard" class="back">← Back to Dashboard</a>

<h1>Patient Consultation Input</h1>
<p>Choose how you would like to provide your medical information</p>

<div class="consult-select">

<a href="/consult/audio" class="consult-box">
    <h3>🎙 Audio Upload</h3>
    <p>Upload an audio recording of your consultation.</p>
    <span>Get Started ⬆</span>
</a>

<a href="/consult/text" class="consult-box">
    <h3>📝 Text Form</h3>
    <p>Answer guided questions about symptoms.</p>
    <span>Get Started ⬆</span>
</a>

</div>

{% endblock %}